<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!-- Custom CSS -->
<style media="screen" type="text/css">
html { font-size: 100%; /* font-size 1em = 16px on default browser settings */} 

</style>
</head>



<body>

<div class="container-fluid buffer"></div>
<div class="container-fluid">
<h4>Oups - it looks like you have another appointment scheduled already!</h4>
<div class="container-fluid buffer"></div>
<div class="container-fluid buffer"></div>
<h6>You must have received a text message with the booking details.
Reply "no appointment" to cancel and book a new appointment!</h6>
<h6>Thank you for Banking with Bank of Hawaii </h6>
</div>

  </body>
</html>
